<!-- <p>products-list works!</p> -->
<!-- <app-nav-bar></app-nav-bar> -->
<div id="bigDiv">
<div id="imageDiv"><div id="BigImgTxt">Allure Cart</div><div id="SmallImgTxt">Beauty, Comfort, Flavor, and More!</div></div>
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-4 g-4" id="div3">
      @for(product of products; track product.id){
      <div id="cardDiv">
        <app-product-card
         [productInfo]="product"
        ></app-product-card>
      </div>
    }
      </div>
  </div>
</div>