<div id="skillsDiv">
    <div id="skillsTitle">Skills</div>
    <div id="skillsIntroductory">I have a solid background in engineering and technology with experience in developing solutions,
         streamlining workflows, and analyzing data. My projects and internships reflect my ability to enhance efficiency and adapt 
         to dynamic environments. My skills are detailed below.
    </div>
    <div id="skills">
        <div id="TimeManagement"><div id="TMtxt">Time Management</div></div>
        <div id="Communication"><div id="Commtxt">Communication</div></div>
        <div id="Teamwork"><div id="TWtxt">Teamwork</div></div>
        <div id="MeetingDeadlines"><div id="MDtxt">Meeting Deadlines</div></div>
        <div id="Adaptability"><div id="Atxt">Adaptability</div></div>
        <div id="Resilience"><div id="Rtxt">Resilience</div></div>
    </div>
    <div id="skillsProgressBars">
        <!-- Time-Management -->
        <div id="skill1outer"><div id="skill1inner"><div id="skill1txt">60%</div></div></div>
         <!--Communication  -->
        <div id="skill2outer"><div id="skill2inner"><div id="skill2txt">80%</div></div></div>
        <!-- Teamwork -->
        <div id="skill3outer"><div id="skill3inner"><div id="skill3txt">70%</div></div></div>
         <!-- Meeting Deadlines -->
        <div id="skill4outer"><div id="skill4inner"><div id="skill4txt">100%</div></div></div>
        <!-- Adaptability -->
        <div id="skill5outer"><div id="skill5inner"><div id="skill5txt">40%</div></div></div>
        <!-- Resilience -->
        <div id="skill6outer"><div id="skill6inner"><div id="skill6txt">90%</div></div></div>
    </div>
</div>
<hr id="horizontalLine">

