#skillsTitle{
    font-size: 120px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(124, 52, 192);
    text-align: center;
    margin-top: 0px;
    background-color: #cb8aee;
    width: 50%;
    margin:auto;
}

.skillsClass{
    margin-top: 10px;
}

#skillsDiv{
    width: 100%;
    height: 820px;
}

#skillsIntroductory{
    width: 50%;
    margin: auto;    
    text-align: center;
    color:#cb8aee;
}

#mainContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

#container2{
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: center;
}

#skill1outer{
    height: 50px;
    background-color: rgba(130, 130, 130, 0.314);
}

#skill1inner{
    width: 60%;
    height: 50px;
    background-color: rgb(124, 52, 192);
}

#skill1txt{
    font-size: 30px;
    position: absolute;
    left: 1315px;
    margin-top: 7px;
    color: #813ca6;
}

#skill2outer{
    width: 100%;
    height: 50px;
    background-color: rgba(130, 130, 130, 0.314);
}

#skill2inner{
    width: 80%;
    height: 50px;
    background-color: rgb(124, 52, 192);
}

#skill2txt{
    font-size: 30px;
    position: absolute;
    left: 1450px;
    margin-top: 8px;
    color: #813ca6;
}

#skill3outer{
    width: 100%;
    height: 50px;
    background-color: rgba(130, 130, 130, 0.314);
}

#skill3inner{
    width: 70%;
    height: 50px;
    background-color: rgb(124, 52, 192);
}

#skill3txt{
    font-size: 30px;
    position: absolute;
    left: 1382px;
    margin-top: 8px;
    color: #813ca6;
}

#skill4outer{
    width: 100%;
    height: 50px;
    background-color: rgba(130, 130, 130, 0.314);
}

#skill4inner{
    width: 100%;
    height: 50px;
    background-color: rgb(124, 52, 192);
}

#skill4txt{
    font-size: 30px;
    position: absolute;
    left: 1495px;
    margin-top: 7px;
    color: rgb(195, 195, 196);
}

#skill5outer{
    width: 100%;
    height: 50px;
    background-color: rgba(130, 130, 130, 0.314);
}

#skill5inner{
    width: 40%;
    height: 50px;
    background-color: rgb(124, 52, 192);
}

#skill5txt{
    font-size: 30px;
    position: absolute;
    left: 1180px;
    margin-top: 7px;
    color: #813ca6;
}

#skill6outer{
    width: 100%;
    height: 50px;
    background-color: rgba(130, 130, 130, 0.314);
}

#skill6inner{
    width: 90%;
    height: 50px;
    background-color: rgb(124, 52, 192);
}

#skill6txt{
    font-size: 30px;
    position: absolute;
    left: 1515px;
    margin-top: 7px;
    color: #813ca6;
}

#container1{
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#TimeManagement{
    width: 100%;
    height: 50px;
    color: #813ca6;
    font-size: 50px;
    text-align: right;
}

#Communication{
    width: 100%;
    height: 50px;
    color: #813ca6;
    font-size: 50px;
    text-align: right;
}

#Teamwork{
    width: 100%;
    height: 50px;
    color: #813ca6;
    font-size: 50px;
    text-align: right;
}

#MeetingDeadlines{
    width: 100%;
    height: 50px;
    color: #813ca6;
    font-size: 50px;
    text-align: right;
}

#Adaptability{
    width: 100%;
    height: 50px;
    color: #813ca6;
    font-size: 50px;
    text-align: right;
}

#Resilience{
    width: 100%;
    height: 50px;
    color: #813ca6;
    font-size: 50px;
    text-align: right;
}