<div id="projects">Projects</div>
<div id="bigDiv">
   <div id="container1">
      <div class="boxG1" id="box1">Responsive Portfolio Website</div>
      <div class="boxG1" id="box2">Web Page for a Location Finder</div>
      <div class="boxG1" id="box3">E-Commerce Product Page</div>
   </div>

   <div id="container2">
      <div class="boxG2" id="box4">Weather Dashboard</div>
      <div class="boxG2" id="box5">Task Management App</div>
      <div class="boxG2" id="box6">Interactive Blog Platform </div>
   </div>
</div>

<hr id="horizontalLine">
