<div id="portofolioDiv">
<div id="AboutMeDiv">
    <h1 id="aboutMe">About Me:</h1>
</div>
<div id="BioDiv">
    <h3 id="bioPar">I graduated from the International School of Elite Education with a 98.5% in the IGCSE system and 
        earned a bachelor's degree in Digital Media Engineering and Technology from GUC, graduating in June 2024.
        I interned at GASCO (summer 2022), gaining insight into their SCADA system, 
        and at El-Sewedy Electric Cable Accessories (July–September 2023), where I developed 
        a PowerApps application for reporting and assessments, integrated with SharePoint and Dynamics 365. 
        I also automated email reminders, implemented GS1 standards for asset management, and created interactive 
        dashboards using Power BI.
    </h3>
</div>
<div id="downloadCV">
    <a href="/Jana Hazem - CV.pdf" download>
        <!-- <img src="https://media.istockphoto.com/id/1073030334/vector/download-cv-button-downloading-document-concept-file-with-cv-label-and-down-arrow-sign.jpg?s=612x612&w=0&k=20&c=PykgAbggb8ixbQd4Uiw2CVNccFKY7hlqMaBR8dXPEs8=" alt="W3Schools" width="104" height="142"> -->
         <input type="button" value="DOWNLOAD MY CV" id="ButtCV">
      </a>
</div>
<br>
</div>
<hr id="horizontalLine">
