#footerDiv{
    /* width: 100%; */
    height: 700px;
    background-color: rgb(124, 52, 192);
}

#contactUs{
    width: 40%;
    height: 500px;
    background-color: rgb(212, 111, 255);
    position: absolute;
    margin-top: 175px;
    left: 500px;
}

#contactUstxt{
    margin-top: 220px;
    margin-left: 190px;
    font-size: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.boxesContainer{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* to add custom gaps bt. rows, REMOVE justify-content */
    gap: 20px;
    /* to bring the flex container to the FRONT */
    position: absolute;
    margin-top: 20px;
    align-items: center;
}

.boxes{
    width: 15%;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    line-height: 2;
    font-size: 15px;
}

#linkedIn{
    margin: 0 auto;
    /* text-align: center; */
}

#linkedInIcon{
    display: inline;
    float: none;
    font-size:60px;
    color: rgb(124, 52, 192);
    /* margin: 0 auto; */
    /* margin-top: 40px; */
    /* margin-left: 80px; */
}

#gitHubIcon{
    font-size:60px;
    color: rgb(124, 52, 192);
    /* margin-top: 40px;
    margin-left: 80px; */
}

#fbIcon{
    font-size:60px;
    color: rgb(124, 52, 192);
    /* margin-top: 40px;
    margin-left: 80px; */
}

#emailIcon{
    font-size:60px;
    color: rgb(124, 52, 192);
    /* margin-top: 40px;
    margin-left: 80px; */
}

#email{
    color: rgb(124, 52, 192);
    /* margin-top: 20px;
    margin-left: 10px; */
}

#fbdiv{
    /* margin-top: 17px;
    margin-left: 0px; */
}

#fb{
    color: rgb(124, 52, 192);
    /* top: 70px; */
    /* margin-left: 70px; */
}

#gitdiv{
    /* margin-top: 17px;
    margin-left: 0px; */
}

#git{
    color: rgb(124, 52, 192);
    /* top: 70px; */
    /* margin-left: 70px; */
}

#linkedInn{
    color: rgb(124, 52, 192);
    /* top: 70px; */
    /* margin-left: 70px; */
}

