<div id="footerDiv">
    <div id="contactUs"><div id="contactUstxt">Contact Me</div></div>
<div class="boxesContainer">
    <div class="boxes">
        <div id="linkedIn"><i id="linkedInIcon" class="fab fa-linkedin"></i></div>
        <div id="linkedIndiv"><a id="linkedInn" href="https://www.linkedin.com/in/jana-hazem-047186279?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">JanaHazem</a></div>
    </div>
    <div class="boxes">
        <div><i id="gitHubIcon"class="fab fa-github"></i></div>
        <div id="gitdiv"><a id="git" href="https://github.com/JanaHazem12">JanaHazem12</a></div>
    </div>
    <div class="boxes">
        <div><i id="fbIcon" class="fab fa-facebook-square"></i></div>
        <div id="fbdiv"><a id="fb" href="https://www.facebook.com/share/18UyRt7oRw/?mibextid=wwXIfr">JanaHazem</a></div>
    </div>
    <div class="boxes">
        <div><i id="emailIcon" class="fa fa-envelope"></i></div>
        <div id="email">jana.hazem.abbas&#64;gmail.com</div>
    </div>
</div>
</div>
<hr id="horizontalLine">
