<!-- use 'userInfo' that we defined in user-list HTML -->
<div class="card h-100">
  <img class="card-img-top" [src]="userInfo.image" alt="Card image cap">
  <div class="card-title">
   <span id="roleChips" class="badge badge-danger" [ngClass]="userInfo.role === 'admin' ? 'adminChip' : userInfo.role === 'moderator' ? 'moderatorChip' : 'userChip'">
          {{ userInfo.role }}
    </span>
    <!-- [ngClass]="userInfo.role === 'admin' ? 'adminBullet' : userInfo.role === 'moderator' ? 'moderatorBullet' : 'userBullet'" -->
    <ul type="square" class="card-text">
      <li [ngClass]="userInfo.role === 'admin' ? 'adminBullet' : userInfo.role === 'moderator' ? 'moderatorBullet' : 'userBullet'"><span class="spanClass">Username:</span> 
      <span>@for(username of userInfo.username ; track $index){
          {{ username }}
      }
    </span>
    </li>
      <li [ngClass]="userInfo.role === 'admin' ? 'adminBullet' : userInfo.role === 'moderator' ? 'moderatorBullet' : 'userBullet'"><span class="spanClass">Email:</span> 
      <span id="emailSpan">@for(email of userInfo.email ; track $index){
          {{ email }}
      }
    </span>
    </li>
    <li [ngClass]="userInfo.role === 'admin' ? 'adminBullet' : userInfo.role === 'moderator' ? 'moderatorBullet' : 'userBullet'"><span><span class="spanClass">Phone Number:</span>
      @for(phone of userInfo.phone ; track $index){
          {{ phone }}
      }
    </span>
    </li>
    <li [ngClass]="userInfo.role === 'admin' ? 'adminBullet' : userInfo.role === 'moderator' ? 'moderatorBullet' : 'userBullet'"><span><span class="spanClass">Date of Birth:
    </span> 
      @for(birthDate of userInfo.birthDate ; track $index){
          {{ birthDate }}
      }
    </span>
    </li>
      </ul>
  </div>
</div>